# API Web
fastapi
uvicorn

# Banco de Dados
pymongo
langchain-mongodb

# LangChain (Core, Agentes e Ferramentas)
langchain
langchain-core
langchain-community

# LLMs (Google)
langchain-google-genai

# Utilitários
python-dotenv
pydantic